#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$zL/vax0u$pe9hCbbsogI80hK.v9aFo.
# System timezone
timezone America/Los_Angeles
# Use network installation
url --url="http://192.168.1.64/inst"
# System language
lang en_US
# Firewall configuration
firewall --enabled --ssh
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
graphical
firstboot --disable
# SELinux configuration
selinux --permissive

# Network information
network  --bootproto=static --device=virbr0 --gateway=192.168.122.255 --ip=192.168.122.10 --nameserver=192.168.122.254 --netmask=255.255.255.0
# Halt after installation
halt
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype="ext4" --size=1000

part pv.1 --grow --size=1
volgroup vg1 --pesize=4096 pv.1

logvol / 		--name=root --vgname=vg1 --fstype="ext4" --size=12500
logvol /var/log		--name=log --vgname=vg1 --fstype="ext4" --size=2000
logvol /var/log/audit 	--name=audit --vgname=vg1 --fstype="ext4" --size=1000
logvol /home 		--name=home --vgname=vg1 --fstype="ext4" --size=5000
logvol /var 		--name=var --vgname=vg1 --fstype="ext4" --grow --maxsize=15000 --size=5000
logvol swap 		--name=swap --vgname=vg1 --fstype="swap" --recommended
logvol /tmp 		--name=tmp --vgname=vg1 --fstype="ext4" --size=1500

# Reboot after installation
reboot

# Package Selection
%packages

@base
@core

%end

