#platform=x86, AMD64, or Intel EM64T
#version=DEVEL

# Install OS instead of upgrade
install

# Reboot upon completion
reboot

# Keyboard layouts
keyboard 'us'

# Root password
rootpw --iscrypted $6$3.VlndBHTITmmnuR$IZyFrsX/X5J5zkHduga/yNEIb6AvBJ3wGMwAXtCbOHRqQizz8GQUhuDM06/Fk7f0M8ZWsEmzG2EUrEhFeEfUc/

# Define local admin
user --groups=wheel --name=lukepafford --password=$6$KWZVVbKgm1YvtOUm$WDe4XBNIAWsXeLqb7FEAUVb.iH/3BUAzJoMbzOQY8z6Ba0xOZmoYaT.pH6giVKFnybqd9w2tAstzr0c2xv.210 --iscrypted --gecos="Luke Pafford"

# System timezone
timezone America/Los_Angeles

# Use network installation
url --url="http://isos.lukepafford.com/inst/centos7"

# System language
lang en_US

# Firewall configuration
firewall --enabled --port=22:tcp

#System authorization information
auth  --useshadow  --passalgo=sha512

# Disable setup agent
firstboot --disable

# SELinux configuration
selinux --enforcing

# Network information
network  --bootproto=dhcp --device=ens3 --hostname pxe-test.lukepafford.com --activate

# System bootloader configuration
bootloader --location=mbr

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all --initlabel


# Disk partitioning information
part /boot --fstype="ext4" --size=1000

part pv.1 --grow --size=1
volgroup vg1 --pesize=4096 pv.1

logvol / 	    	    --name=root  --vgname=vg1 --fstype="ext4" --size=12500
logvol /var 	    	--name=var   --vgname=vg1 --fstype="ext4" --grow --maxsize=15000 --size=5000
logvol /var/log		    --name=log   --vgname=vg1 --fstype="ext4" --size=2000
logvol /var/log/audit 	--name=audit --vgname=vg1 --fstype="ext4" --size=1000
logvol /opt		--name=opt   --vgname=vg1 --fstype="ext4" --size=5000
logvol /home 	    	--name=home  --vgname=vg1 --fstype="ext4" --grow --size=5000
logvol swap 	    	--name=swap  --vgname=vg1 --fstype="swap" --recommended
logvol /tmp 	    	--name=tmp   --vgname=vg1 --fstype="ext4" --size=1500

# Package Selection
%packages

@base
@core
ipa-server
ipa-server-dns
vim
git

%end
