#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://192.168.1.64/inst"
# Use test install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Firewall configuration
firewall --enabled --port=22:tcp,25:tcp
#Network information
network  --bootproto=static --device=ens3 --ip=192.168.1.50 --gateway=192.168.1.254 --netmask=255.255.255.0 --hostname mail-postfix-01.lukepafford.com --activate
# Root password
rootpw --iscrypted $6$3.VlndBHTITmmnuR$IZyFrsX/X5J5zkHduga/yNEIb6AvBJ3wGMwAXtCbOHRqQizz8GQUhuDM06/Fk7f0M8ZWsEmzG2EUrEhFeEfUc/
# System timezone
timezone America/Los_Angeles --isUtc
user --groups=wheel --name=lukepafford --password=$6$KWZVVbKgm1YvtOUm$WDe4XBNIAWsXeLqb7FEAUVb.iH/3BUAzJoMbzOQY8z6Ba0xOZmoYaT.pH6giVKFnybqd9w2tAstzr0c2xv.210 --iscrypted --gecos="Luke Pafford"
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype="ext4" --size=1000

part pv.1 --grow --size=1
volgroup vg1 --pesize=4096 pv.1

logvol /                --name=root  --vgname=vg1 --fstype="ext4" --size=10000
logvol /var/log         --name=log   --vgname=vg1 --fstype="ext4" --size=2000
logvol /var/log/audit   --name=audit --vgname=vg1 --fstype="ext4" --size=1000
logvol /home            --name=home  --vgname=vg1 --fstype="ext4" --size=5000
logvol /var             --name=var   --vgname=vg1 --fstype="ext4" --grow --maxsize=10000 --size=5000
logvol swap             --name=swap  --vgname=vg1 --fstype="swap" --recommended
logvol /tmp             --name=tmp   --vgname=vg1 --fstype="ext4" --size=1500


%packages
@^minimal
@core
yum-utils
postfix

%end



